@font-face {
  font-family: "BigBlueTerminal";
  src: url("../static/BigBlue_TerminalPlus.ttf");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: "BigBlueTerminal";
  background: url("../static/heimenkousei.jpg");
}
